.serviciosContainer {
  background-image: url(../../images/photo-1611906874032-cbfde7a7b858.avif);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "Montserrat-Regular";
}
.preciosContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.486);
}
.card {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background-color: rgba(19, 21, 24, 0.692);
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  -webkit-box-shadow: -15px 10px 6px -7px #000000;
  -moz-box-shadow: -15px 10px 6px -7px #000000;
  box-shadow: 15px 10px 10px -7px #000000;
}
.card h1 {
  width: 90%;
  font-size: 20px;
  margin: 0px auto;
  border-bottom: 1px solid white;
  text-align: center;
  padding-bottom: 10px;
}
.card button {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  font-family: "Montserrat-Regular";
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  animation: fadeIn 1s;
  opacity: 1;
}
.card button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid white;
}
.bx1 {
  animation: fadeInLeft 1s;
}
.bx2 {
  animation: fadeInRight 1s;
}
.bx3 {
  animation: fadeInLeft 1s;
}
.bx4 {
  animation: fadeInRight 1s;
}
@media screen and (max-width: 760px) {
  .serviciosContainer {
    height: auto;
  }
  .preciosContainer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .card {
    margin-top: 20px;
  }
}
